@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body{
	line-height: 1.5;
	font-family: 'Poppins', sans-serif;
}
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
.container{
	max-width: 75em;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: black;
    padding: 5rem 0;
}
.footer-col{
   width: 25%;
   padding: 0 1rem;
}
.footer-col h4{
	font-size: 1.125rem;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 2rem;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -.75rem;
	background-color: rgb(92, 0, 0);
	height: 2px;
	box-sizing: border-box;
	width: 3rem;
}
.footer-col ul li:not(:last-child){
	margin-bottom: .75rem;
}
.footer-col ul li a{
	font-size: 1rem;
	text-transform: capitalize;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 2.5em;
	width: 2.5em;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 2.5em;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: black;
	background-color: #ffffff;
}


