*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.site-header {
  width: 100%;
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  height: 6rem;
}

.nav-links {
  display: flex;
  list-style: none;
}
.nav-link-item {
  padding-right: 2rem;
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: .25rem;
  cursor:auto;
}
.nav-link-text {
  font-size: 1rem;
  color: white;
  text-decoration: none;
}
.site-title {
  margin: 1rem;
  background-color: white;
  color: rgb(92, 0, 0);
  font-size: 2.5rem;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: .30rem;
  position: relative;
}

.heading {
  color: black;
  font-size: 2rem;
  padding-left: .5rem;

}

.site-title-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.page-content {
 margin: 2.5rem 5rem;
}

